body    {
    background: linear-gradient(#212121,#7B1FA2);
    background-color: #7B1FA2;
}
p {
    color: white;
}
*/*
div {text-align:center;}
*/
a:link {
    color:#FFFFFF; }




input[type="submit"],
submit  {
    width: 70px;
    margin: 0 auto;
    padding: 5px ;
    font-size: 10px;
    display: block;
    color: #FFFFFF;
    background: #757575;
    border-radius: 5px;
}
<style>
form img.thumb {
    margin:0 5px 5px 0;
    max-width:160px;
    vertical-align:bottom;
}
</style>